:root {
  --mainBrown: #8b751d;
  --mainYellow: #f4f47b;
  --mainGrey: #afaa9b;
  --mainWhite: #fff;
  --mainDark: #222;
  --secondYellow: rgba(244, 244, 123, 0.722);
}

body {
  background: var(--mainWhite);
  color: var(--mainDark);
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Courier New', Courier, monospace !important;
  letter-spacing: 0.25rem !important;
}

.text-yellow {
  color: var(--mainYellow);
}

.cart-icon {
  cursor: pointer;
  color: var(--mainBrown);
  font-size: 2rem;
}

.default-background {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: linear-gradient(to bottom rgba(70, 80, 226, 0.5), rgba(100, 91, 43, 0.5));
  background-position: center;
  background-size: cover; 
  z-index: -1;
}

.image-container {
  background-color: black;
  overflow: hidden;
  background: black;
  overflow: hidden;
  opacity: .8;
}

.image-container__image {
  opacity: .5;
}

.head-title {
  color: white;
  position: absolute;
  top: 68%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn {
  border-radius: 30px;
  box-shadow: 5px 10px 10px var(--mainBrown) ;
}

.btn-yellow {
  background-color: var(--mainYellow) ;
  
}

.btn-yellow:hover {
  background-color: var(--mainBrown);
  transition: all .3s ease-in;
  color: var(--mainYellow);
}

.footer {
  background-color: var(--mainDark);
  color: var(--mainYellow);
}
